<a href="https://colab.research.google.com/github/therudradev/Python_Programming/blob/main/Python_lab.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Exp 1:
# Program to check whether a number is positive or negative
# If positive, check whether it is even or odd

In [ ]:
num = int(input("Enter a number: "))

if num > 0:
    print("The number is Positive.")

    if num % 2 == 0:
        print("It is an Even number.")
    else:
        print("It is an Odd number.")

elif num < 0:
    print("The number is Negative.")
else:
    print("The number is Zero.")


print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Enter a number: 7
The number is Positive.
It is an Odd number.

------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp 2:
# Program: Simple Calculator

In [ ]:
num1 = float(input("Enter first number: "))
num2 = float(input("Enter second number: "))

operator = input("Enter operator (+, -, *, /): ")

if operator == '+':
    result = num1 + num2
    print("Result:", result)

elif operator == '-':
    result = num1 - num2
    print("Result:", result)

elif operator == '*':
    result = num1 * num2
    print("Result:", result)

elif operator == '/':
    if num2 != 0:
        result = num1 / num2
        print("Result:", result)
    else:
        print("Error! Division by zero is not allowed.")

else:
    print("Invalid operator! Please enter one of +, -, *, /")


print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Enter first number: 20
Enter second number: 0
Enter operator (+, -, *, /): /
Error! Division by zero is not allowed.

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 3:
# Program: Simple Login System

In [ ]:
username = "admin"
password = "12345"

user_input = input("Enter Username: ")
pass_input = input("Enter Password: ")

# Validate credentials
if user_input == username and pass_input == password:
    print("Login Successful! Welcome,", username)
elif user_input==username and pass_input!=password:
    print("Invalid Password!")
else:
    print("Invalid Username or Password!")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Enter Username: admin
Enter Password: 12345
Login Successful! Welcome, admin

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 4:
# Program: Determine ticket pricing based on age

In [ ]:
age = int(input("Enter your age: "))

if age < 5:
    print("Ticket is Free.")
elif age >= 5 and age <= 12:
    print("Child Ticket: ₹100")
elif age > 12 and age <= 60:
    print("Adult Ticket: ₹200")
else:
    print("Senior Citizen Ticket: ₹120")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Enter your age: 11
Child Ticket: ₹100

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 5:
# Program: Find prime numbers between 1 and 100

In [ ]:
print("Prime numbers between 1 and 100 are:")

for num in range(2, 101):
    is_prime = True
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            is_prime = False
            break
    if is_prime:
        print(num, end=" ")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Prime numbers between 1 and 100 are:
2 3 5 7 11 13 17 19 23 29 31 37 41 43 47 53 59 61 67 71 73 79 83 89 97
--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp 6:
# Program: Print an inverted triangle pattern

In [ ]:
rows = 10

for i in range(rows, 0, -1):
    print('*' * i +(rows - i)*' ')

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

**********
*********
********
*******
******
*****
****
***
**
*

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

## Exp 7:
# Program: Implement slicing in lists

In [ ]:
# Create a list
numbers = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

print("Original List:", numbers)

# Perform various slicing operations
print("Slice [2:7]:", numbers[2:7])          # elements from index 2 to 6
print("Slice [:5]:", numbers[:5])            # first five elements
print("Slice [5:]:", numbers[5:])            # elements from index 5 to end
print("Slice [-3:]:", numbers[-3:])          # last three elements
print("Slice [::2]:", numbers[::2])          # every second element
print("Reversed List [::-1]:", numbers[::-1]) # reverse the list

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Original List: [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]
Slice [2:7]: [30, 40, 50, 60, 70]
Slice [:5]: [10, 20, 30, 40, 50]
Slice [5:]: [60, 70, 80, 90, 100]
Slice [-3:]: [80, 90, 100]
Slice [::2]: [10, 30, 50, 70, 90]
Reversed List [::-1]: [100, 90, 80, 70, 60, 50, 40, 30, 20, 10]

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp 8
# Program: Print even numbers from a list using list comprehension

In [ ]:
# Create a list of numbers
numbers = [10, 15, 20, 25, 30, 35, 40, 45, 50]

# Use list comprehension to filter even numbers
even_numbers = [num for num in numbers if num % 2 == 0]

print("Original List:", numbers)
print("Even Numbers:", even_numbers)

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Original List: [10, 15, 20, 25, 30, 35, 40, 45, 50]
Even Numbers: [10, 20, 30, 40, 50]

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp 9
# Program: To-Do List Management

In [ ]:
# Create an empty list to store tasks
tasks = []

while True:
    print("\n===== TO-DO LIST MENU =====")
    print("1. Add Task")
    print("2. View Tasks")
    print("3. Remove Task")
    print("4. Exit")

    choice = input("Enter your choice (1-4): ")

    if choice == '1':
        task = input("Enter the task to add: ")
        tasks.append(task)
        print(f"Task '{task}' added successfully!")

    elif choice == '2':
        if len(tasks) == 0:
            print("No tasks in the To-Do List.")
        else:
            print("\nYour To-Do List:")
            for i, task in enumerate(tasks, start=1):
                print(f"{i}. {task}")

    elif choice == '3':
        if len(tasks) == 0:
            print("No tasks to remove.")
        else:
            print("\nCurrent Tasks:")
            for i, task in enumerate(tasks, start=1):
                print(f"{i}. {task}")
            remove_index = int(input("Enter the task number to remove: "))
            if 0 < remove_index <= len(tasks):
                removed = tasks.pop(remove_index - 1)
                print(f"Task '{removed}' removed successfully!")
            else:
                print("Invalid task number.")

    elif choice == '4':
        print("Exiting To-Do List Program. Goodbye!")
        break

    else:
        print("Invalid choice! Please enter a number between 1 and 4.")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

===== TO-DO LIST MENU =====
1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Enter your choice (1-4): 1
Enter the task to add: Water
Task 'Water' added successfully!

===== TO-DO LIST MENU =====
1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Enter your choice (1-4): 1
Enter the task to add: Marketing
Task 'Marketing' added successfully!

===== TO-DO LIST MENU =====
1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Enter your choice (1-4): 2

Your To-Do List:
1. Water
2. Marketing

===== TO-DO LIST MENU =====
1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Enter your choice (1-4): 3

Current Tasks:
1. Water
2. Marketing
Enter the task number to remove: 1
Task 'Water' removed successfully!

===== TO-DO LIST MENU =====
1. Add Task
2. View Tasks
3. Remove Task
4. Exit
Enter your choice (1-4): 4
Exiting To-Do List Program. Goodbye!

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp 10:
# Program: Demonstrate packing and unpacking in tuple

In [ ]:
# Tuple Packing
student = ("Rudra", 23, "MCA", 8.1)
print("Packed Tuple:", student)

# Tuple Unpacking
name, age, course, cgpa = student
print("\nAfter Unpacking:")
print("Name:", name)
print("Age:", age)
print("Course:", course)
print("CGPA:", cgpa)

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Packed Tuple: ('Rudra', 23, 'MCA', 8.1)

After Unpacking:
Name: Rudra
Age: 23
Course: MCA
CGPA: 8.1

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 11:
# Program: Count unique words in a given text

In [ ]:
# Take input from the user
text = input("Enter your text: ")

# Remove punctuation and symbols
clean_text = ""
for ch in text:
    if ch.isalnum() or ch.isspace():
        clean_text += ch

# Convert text to lowercase and split into words
words = clean_text.lower().split()

# Count unique words
unique_words = set(words)

# Display results
print(f"\nTotal words: {len(words)}")
print(f"Unique words: {len(unique_words)}")
print("\nUnique words list:")
print(unique_words)

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Enter your text: Hello, world! Hello Python. Python is great; isn't it? && *

Total words: 9
Unique words: 7

Unique words list:
{'world', 'it', 'hello', 'is', 'isnt', 'python', 'great'}

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp: 12
# Program: Count frequency of elements in a list using dictionary

In [ ]:
# Create a list of elements
elements = [10, 20, 10, 30, 20, 10, 40, 30, 50, 40, 20]

# Create an empty dictionary to store frequencies
frequency = {}

# Count occurrences of each element
for item in elements:
    if item in frequency:
        frequency[item] += 1
    else:
        frequency[item] = 1

print("List:", elements)
print("\nFrequency of elements:")
for key, value in frequency.items():
    print(f"{key}: {value}")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

List: [10, 20, 10, 30, 20, 10, 40, 30, 50, 40, 20]

Frequency of elements:
10: 3
20: 3
30: 2
40: 2
50: 1

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 13
# Program: Event Signup and Attendance Tracker

In [ ]:
# Input lists
signups = [101, 102, 103, 104, 101, 105, 103, 106]
attendees = [102, 104, 106]

# Remove duplicates from signups
unique_signups = list(set(signups))

attended_count = 0
noshow_count = 0

print("Student Status:\n")

# Classify each student
for student_id in unique_signups:
    if student_id in attendees:
        status = "Attended"
        attended_count += 1
    else:
        status = "No-show"
        noshow_count += 1
    print(f"Student ID: {student_id} → {status}")

print("\nSummary:")
print(f"Total Students Signed Up: {len(unique_signups)}")
print(f"Attended: {attended_count}")
print(f"No-show: {noshow_count}")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Student Status:

Student ID: 101 → No-show
Student ID: 102 → Attended
Student ID: 103 → No-show
Student ID: 104 → Attended
Student ID: 105 → No-show
Student ID: 106 → Attended

Summary:
Total Students Signed Up: 6
Attended: 3
No-show: 3

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp 14
# Program: Calculate average score for each student

In [ ]:
# Create a dictionary with student names and their scores
students = {
    "Rudra": [85, 78, 92],
    "Neha": [90, 88, 95],
    "Amit": [76, 80, 72],
    "Priya": [89, 91, 87]
}

print("Average Marks of Students:\n")

for name, marks in students.items():
    average = sum(marks) / len(marks)
    print(f"{name}: {average:.2f}")

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Average Marks of Students:

Rudra: 85.00
Neha: 91.00
Amit: 76.00
Priya: 89.00

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 15
# Program: Demonstrate Filter, Map, and Lambda functions

In [ ]:
# Create a list of numbers
numbers = [i for i in range(1,11)]

# Use filter() with lambda to get even numbers
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))

# Use map() with lambda to square all numbers
squared_numbers = list(map(lambda x: x ** 2, numbers))

# Combine filter() and map() — square only even numbers
even_squares = list(map(lambda x: x ** 2, filter(lambda x: x % 2 == 0, numbers)))

# Print results
print("Original List:", numbers)
print("Even Numbers (Filter):", even_numbers)
print("Squared Numbers (Map):", squared_numbers)
print("Squares of Even Numbers (Filter + Map):", even_squares)

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Original List: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Even Numbers (Filter): [2, 4, 6, 8, 10]
Squared Numbers (Map): [1, 4, 9, 16, 25, 36, 49, 64, 81, 100]
Squares of Even Numbers (Filter + Map): [4, 16, 36, 64, 100]

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 16:
# Program: Demonstrate OOPs Concepts in Python

In [ ]:
from abc import ABC, abstractmethod  # For abstraction

# Class demonstrating self and __init__
class Student:
    def __init__(self, name, age):  # __init__ acts as a constructor
        self.name = name
        self.age = age

    def display(self):  # self refers to the current instance
        print(f"Name: {self.name}, Age: {self.age}")


# Encapsulation: Using private variables and getters/setters
class BankAccount:
    def __init__(self, balance):
        self.__balance = balance  # Private variable

    def deposit(self, amount):
        self.__balance += amount

    def get_balance(self):
        return self.__balance


# Inheritance:
class Animal:
    def speak(self):
        print("Animal makes a sound")

class Dog(Animal):
    def speak(self):
        print("Dog barks")


# Polymorphism: Same method behaves differently
def animal_sound(animal):
    animal.speak()


# Abstraction: Hiding implementation details using abstract class
class Shape(ABC):
    @abstractmethod
    def area(self):
        pass

class Circle(Shape):
    def __init__(self, radius):
        self.radius = radius

    def area(self):
        return 3.14 * self.radius * self.radius


# ---------- Main Program ----------
# Self and __init__
s1 = Student("Rudra", 23)
s1.display()

# Encapsulation
acc = BankAccount(5000)
acc.deposit(1500)
print("Current Balance:", acc.get_balance())

# Inheritance & Polymorphism
dog = Dog()
animal_sound(dog)

# Abstraction
circle = Circle(5)
print("Area of Circle:", circle.area())

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Name: Rudra, Age: 23
Current Balance: 6500
Dog barks
Area of Circle: 78.5

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

#Exp 17:
# Program: Connect MySQL Database with Python
### Done in vscode local

[Connect MySQL Database with Python](https://github.com/therudradev/Python_Programming/blob/main/Connect_MySql.ipynb)

```
pip install mysql-connector-python
```

```
import mysql.connector

# Step 1: Establish connection
# Replace with your actual database credentials
try:
    mydb = mysql.connector.connect(
        host="localhost",
        user="root",
        password="Rudra33077", # enter you mysql db password
        database="test" # enter the created database name
    )
    print("Database connection successful!")
except mysql.connector.Error as err:
    print(f"Error connecting to database: {err}")
    mydb = None # Set mydb to None if connection fails
```

```
mycursor = mydb.cursor()
mycursor.execute("""
CREATE TABLE IF NOT EXISTS mystudents (
    id INT AUTO_INCREMENT PRIMARY KEY,
    name VARCHAR(50),
    age INT,
    course VARCHAR(50)
)
""")

# Step 4: Insert data into table
sql = "INSERT INTO students (name, age, course) VALUES (%s, %s, %s)"
val = ("Rudra Pratap Singh", 23, "MCA")
mycursor.execute(sql, val)
mydb.commit()   # Save the changes

print(mycursor.rowcount, "record inserted successfully.")
```

In [ ]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in /usr/local/lib/python3.12/dist-packages (9.5.0)

#Exp 18:
# Program: Replace missing values with column mean

In [ ]:
import pandas as pd
import numpy as np

# Create a sample DataFrame with missing values
data = {
    'Maths': [85, 90, np.nan, 70, 95],
    'Science': [88, np.nan, 76, np.nan, 90],
    'English': [80, 78, 82, 85, np.nan]
}

df = pd.DataFrame(data)
print("Original DataFrame with Missing Values:\n")
print(df)

# Replace missing values with column mean
df_filled = df.fillna(df.mean(numeric_only=True))

print("\nDataFrame after Replacing Missing Values with Mean:\n")
print(df_filled)

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Original DataFrame with Missing Values:

   Maths  Science  English
0   85.0     88.0     80.0
1   90.0      NaN     78.0
2    NaN     76.0     82.0
3   70.0      NaN     85.0
4   95.0     90.0      NaN

DataFrame after Replacing Missing Values with Mean:

   Maths    Science  English
0   85.0  88.000000    80.00
1   90.0  84.666667    78.00
2   85.0  76.000000    82.00
3   70.0  84.666667    85.00
4   95.0  90.000000    81.25

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057

# Exp: 19
# Program: Normalize a NumPy array using Z-score and Min-Max scaling

In [1]:
import numpy as np

# Create a sample NumPy array
data = np.array([10, 20, 30, 40, 50, 60])
print("Original Array:\n", data)

# Z-score Normalization
# Formula: z = (x - mean) / std
mean = np.mean(data)
std_dev = np.std(data)
z_score_normalized = (data - mean) / std_dev
print("\nZ-score Normalized Array:\n", z_score_normalized)

# Min-Max Scaling
# Formula: x' = (x - min) / (max - min)
min_val = np.min(data)
max_val = np.max(data)
min_max_scaled = (data - min_val) / (max_val - min_val)
print("\nMin-Max Scaled Array:\n", min_max_scaled)

print("\n--------------------------------------")
print("Experiment done by: Rudra Pratap Singh")
print("Roll No.: 13247057")

Original Array:
 [10 20 30 40 50 60]

Z-score Normalized Array:
 [-1.46385011 -0.87831007 -0.29277002  0.29277002  0.87831007  1.46385011]

Min-Max Scaled Array:
 [0.  0.2 0.4 0.6 0.8 1. ]

--------------------------------------
Experiment done by: Rudra Pratap Singh
Roll No.: 13247057