<a href="https://colab.research.google.com/github/therudradev/Python_Programming/blob/main/session_22_pandas_strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

# What are vectorized operations

In [3]:
# What are vectorized operations
a = np.array([1,2,3,4])
a * 4

array([ 4,  8, 12, 16])

In [4]:
# problem in vectorized opertions in vanilla python
s = ['cat','mat',None,'rat']

[i.startswith('c') for i in s]

AttributeError: 'NoneType' object has no attribute 'startswith'

In [5]:
# How pandas solves this issue?

s = pd.Series(['cat','mat',None,'rat'])
# string accessor
s.str.startswith('c')

# fast and optimized

0     True
1    False
2     None
3    False
dtype: object

In [6]:
# import titanic
df = pd.read_csv('/content/titanic.csv')
df['Name']

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [7]:
# Common Functions
# lower/upper/capitalize/title
df['Name'].str.upper()
df['Name'].str.capitalize()
df['Name'].str.title()
# len
df['Name'][df['Name'].str.len() == 82].values[0]
# strip
"                   nitish                              ".strip()
df['Name'].str.strip()

0                                Braund, Mr. Owen Harris
1      Cumings, Mrs. John Bradley (Florence Briggs Th...
2                                 Heikkinen, Miss. Laina
3           Futrelle, Mrs. Jacques Heath (Lily May Peel)
4                               Allen, Mr. William Henry
                             ...
886                                Montvila, Rev. Juozas
887                         Graham, Miss. Margaret Edith
888             Johnston, Miss. Catherine Helen "Carrie"
889                                Behr, Mr. Karl Howell
890                                  Dooley, Mr. Patrick
Name: Name, Length: 891, dtype: object

In [8]:
# split -> get
df['lastname'] = df['Name'].str.split(',').str.get(0)
df.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,lastname
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S,Braund
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C,Cumings
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S,Heikkinen
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S,Futrelle
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S,Allen

In [9]:
df[['title','firstname']] = df['Name'].str.split(',').str.get(1).str.strip().str.split(' ', n=1, expand=True)
df.head()  #here parameter 'n' is use to spilt on first value on the basis of space and 'expand' is use for convert into data frame.

df['title'].value_counts()

title
Mr.          517
Miss.        182
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Col.           2
Mlle.          2
Major.         2
Ms.            1
Mme.           1
Don.           1
Lady.          1
Sir.           1
Capt.          1
the            1
Jonkheer.      1
Name: count, dtype: int64

In [10]:
# replace
df['title'] = df['title'].str.replace('Ms.','Miss.')
df['title'] = df['title'].str.replace('Mlle.','Miss.')

In [11]:
df['title'].value_counts()

title
Mr.          517
Miss.        185
Mrs.         125
Master.       40
Dr.            7
Rev.           6
Major.         2
Col.           2
Don.           1
Lady.          1
Mme.           1
Sir.           1
Capt.          1
the            1
Jonkheer.      1
Name: count, dtype: int64

In [ ]:
# filtering
# startswith/endswith
df[df['firstname'].str.endswith('A')]
# isdigit/isalpha...
df[df['firstname'].str.isdigit()]

Empty DataFrame
Columns: [PassengerId, Survived, Pclass, Name, Sex, Age, SibSp, Parch, Ticket, Fare, Cabin, Embarked, lastname, title, firstname]
Index: []

In [13]:
# applying regex
# contains
# question: search the name which contain john in frist name, either upper case or lower
# search john -> both case
df[df['firstname'].str.contains('john',case=False)]
# find lastnames with start and end char vowel
df[df['lastname'].str.contains('^[aeiouAEIOU].+[aeiouAEIOU]$')] # for vowel
# df[df['lastname'].str.contains('^[^aeiouAEIOU].+[^aeiouAEIOU]$')] # for consonent

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,lastname,title,firstname
30,31,0,1,"Uruchurtu, Don. Manuel E",male,40.0,0,0,PC 17601,27.7208,NaN,C,Uruchurtu,Don.,Manuel E
49,50,0,3,"Arnold-Franchi, Mrs. Josef (Josefine Franchi)",female,18.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi,Mrs.,Josef (Josefine Franchi)
207,208,1,3,"Albimona, Mr. Nassef Cassem",male,26.0,0,0,2699,18.7875,NaN,C,Albimona,Mr.,Nassef Cassem
210,211,0,3,"Ali, Mr. Ahmed",male,24.0,0,0,SOTON/O.Q. 3101311,7.0500,NaN,S,Ali,Mr.,Ahmed
353,354,0,3,"Arnold-Franchi, Mr. Josef",male,25.0,1,0,349237,17.8000,NaN,S,Arnold-Franchi,Mr.,Josef
493,494,0,1,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,Artagaveytia,Mr.,Ramon
518,519,1,2,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0,1,0,226875,26.0000,NaN,S,Angle,Mrs.,"William A (Florence ""Mary"" Agnes Hughes)"
784,785,0,3,"Ali, Mr. William",male,25.0,0,0,SOTON/O.Q. 3101312,7.0500,NaN,S,Ali,Mr.,William
840,841,0,3,"Alhomaki, Mr. Ilmari Rudolf",male,20.0,0,0,SOTON/O2 3101287,7.9250,NaN,S,Alhomaki,Mr.,Ilmari Rudolf

In [14]:
# slicing
df['Name'].str[::-1]

0                                sirraH newO .rM ,dnuarB
1      )reyahT sggirB ecnerolF( yeldarB nhoJ .srM ,sg...
2                                 aniaL .ssiM ,nenikkieH
3           )leeP yaM yliL( htaeH seuqcaJ .srM ,ellertuF
4                               yrneH mailliW .rM ,nellA
                             ...
886                                sazouJ .veR ,alivtnoM
887                         htidE teragraM .ssiM ,maharG
888             "eirraC" neleH enirehtaC .ssiM ,notsnhoJ
889                                llewoH lraK .rM ,rheB
890                                  kcirtaP .rM ,yelooD
Name: Name, Length: 891, dtype: object

# ⭐ **PANDAS STRING OPERATIONS – Study Notes**

Pandas provides powerful **vectorized string functions** using the **`.str` accessor**.

---

# 🔵 **1. What Are Vectorized Operations?**

**Vectorized operations** allow you to apply an operation on **entire arrays/columns at once**, instead of looping through items one-by-one.

### ✔ Example (vectorized)

```python
df['Name'].str.upper()
```

Pandas applies `.upper()` to all rows **in optimized C code**, not Python loops.

---

# 🔵 **2. Problem in Vanilla Python (No Vectorization)**

In Python lists, strings must be processed with **loops**:

```python
[x.upper() for x in names]
```

Problems:

* Slow (Python loops are interpreted, not optimized)
* More code
* Hard to apply advanced functions
* Cannot handle missing values (NaN)
* Inconsistent behavior

---

# 🔵 **3. How Pandas Solves This Issue?**

Pandas uses:

* **Vectorization**
* **NumPy backend**
* **`.str` accessor**
* Built-in handling for **NaN**
* Regex support

`.str` internally broadcasts functions efficiently on entire columns.

Example:

```python
df['Name'].str.lower()
```

Fast, clean, works with NaN.

---

# 🔵 **4. String Accessor – `.str`**

Used to access **vectorized string functions**.

```python
df['City'].str
```

You must use `.str` before calling string methods:

```python
df['City'].str.upper()
```

---

# 🔵 **5. COMMON STRING FUNCTIONS (Most Used)**

## ✔ lower() / upper() / title() / capitalize()

```python
df['Name'].str.lower()
df['Name'].str.upper()
df['Name'].str.title()
df['Name'].str.capitalize()
```

---

## ✔ len()

Length of each string.

```python
df['Name'].str.len()
```

---

## ✔ strip(), lstrip(), rstrip()

Removes spaces.

```python
df['Name'].str.strip()
```

---

## ✔ split()

Split into list.

```python
df['FullName'].str.split(" ")
```

Extract first/last name:

```python
df['FullName'].str.split().str[0]      # First name
df['FullName'].str.split().str[-1]     # Last name
```

---

## ✔ get()

Returns element at a particular position.

```python
df['FullName'].str.split().str.get(1)
```

---

## ✔ replace()

```python
df['City'].str.replace("Delhi", "New Delhi")
```

Supports regex by default.

---

# 🔵 **6. FILTERING Using String Patterns**

## ✔ startswith()

```python
df[df['Name'].str.startswith("A")]
```

## ✔ endswith()

```python
df[df['Name'].str.endswith("n")]
```

## ✔ contains()

```python
df[df['Name'].str.contains("john")]
```

---

# 🔵 **7. Case-Insensitive Search (Find 'john' or 'John' or 'JOHN')**

```python
df[df['Name'].str.contains("john", case=False)]
```

---

# 🔵 **8. Regex Filtering (Powerful)**

Search names with only letters:

```python
df[df['Name'].str.contains("^[A-Za-z]+$", regex=True)]
```

Find all rows where name has digits:

```python
df['Name'].str.contains(r"\d")
```

---

# 🔵 **9. Slicing String Columns**

Use `.str` + slice:

```python
df['Code'].str[:3]     # first 3 characters
df['Code'].str[2:]     # from index 2 to end
df['Code'].str[-2:]    # last 2 characters
```

---

# 🔵 **10. Combining Multiple String Functions**

Example:

```python
df['Name'].str.strip().str.lower().str.replace(" ", "_")
```

---

# 🔵 **11. Important `.str` Functions Summary**

| Category   | Functions                                |
| ---------- | ---------------------------------------- |
| Case       | lower, upper, title, capitalize          |
| Whitespace | strip, rstrip, lstrip                    |
| Splitting  | split, rsplit, get                       |
| Matching   | contains, startswith, endswith           |
| Replacing  | replace                                  |
| Length     | len                                      |
| Slicing    | `str[ start:end ]`                       |
| Regex      | contains(regex), replace(regex), extract |

---

# ⭐ **Quick Revision (One-Liners)**

* `.str` enables **vectorized string operations**
* Vanilla Python loops are slow → Pandas uses NumPy backend
* `.str` handles **missing values** automatically
* Use `case=False` for case-insensitive search
* `.str.contains()` and `.str.replace()` fully support **regex**
* `.str[ ]` allows slicing
* Used heavily in **cleaning**, **feature engineering**, and **text preprocessing**

---