<a href="https://colab.research.google.com/github/therudradev/Python_Programming/blob/main/Task_2_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [2]:
# Write code here
#write your code
ctc = int(input('Enter your anual CTC: '))

if ctc < 5000000:
  salary=ctc*.82  #18 percent from all
elif ctc < 10000000:
  salary=ctc*.72
elif ctc < 20000000:
  salary=ctc*.62
else:
  salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/ 12, 2))

Enter your anual CTC: 1200000
You in hand monthly salary will be- 82000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [4]:
# Write code here

angle1 = float(input("Enter the first angle: "))
angle2 = float(input("Enter the second angle: "))
angle3 = float(input("Enter the third angle: "))

if angle1 + angle2 + angle3 == 180 and angle1 > 0 and angle2 > 0 and angle3 > 0:
  print("These angles can form a triangle.")
else:
  print("These angles cannot form a triangle.")

Enter the first angle: -2
Enter the second angle: 60
Enter the third angle: 122
These angles cannot form a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [6]:
# Write code here
cost_price = float(input("Enter the cost price: "))
selling_price = float(input("Enter the selling price: "))

if selling_price > cost_price:
  print("It is a profit of", round(selling_price - cost_price, 2))
else:
  print("It is a loss of", round(cost_price - selling_price, 2))

Enter the cost price: 500
Enter the selling price: 400
It is a loss of 100.0

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [10]:
# Write code here
menu =input("""
Hii select an option
1. cm to ft
2. km to miles
3. USD to INR
4. exit
""")

if menu == '1':
  cm = float(input("Enter the value in cm: "))
  print("The value in ft is", round(0.032*cm, 2))
elif menu == '2':
  km = float(input("Enter the value in km: "))
  print("The value in miles is", round(km*0.62, 2))
elif menu == '3':
  usd = float(input("Enter the value in USD: "))
  print("The value in INR is", round(usd * 80, 2))
elif menu == '4':
  print("Thank you for using our service")

Hii select an option
1. cm to ft
2. km to miles
3. USD to INR
4. exit
1
Enter the value in cm: 100
The value in ft is 3.2

In [12]:
# problem 4 using switch case
def converter():
  while True:
    menu =input("""
    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    """)

    match menu:
      case '1':
        cm = float(input("Enter the value in cm: "))
        print("The value in ft is", round(0.032*cm, 2))
      case '2':
        km = float(input("Enter the value in km: "))
        print("The value in miles is", round(km*0.62, 2))
      case '3':
        usd = float(input("Enter the value in USD: "))
        print("The value in INR is", round(usd * 80, 2))
      case '4':
        print("Thank you for using our service")
        break
      case _:
        print("Invalid input")

converter()

    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    2
Enter the value in km: 15
The value in miles is 9.3

    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    1
Enter the value in cm: 52
The value in ft is 1.66

    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    4
Thank you for using our service

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [13]:
# Write code here
a, b = 0, 1
for i in range(10):
  print(a, end=" ")
  a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [14]:
# Write code here
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num+1):
  fact *= i
print(fact)

Enter a number: 4
24

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [18]:
# Write code here
num = int(input("Enter a number: "))
# print(num[::-1])

rev = 0
while num > 0:
  last = num % 10
  rev = rev * 10 + last
  num //= 10

print(rev)

Enter a number: 123
321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here