<a href="https://colab.research.google.com/github/therudradev/Python_Programming/blob/main/task_2_Solution.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [ ]:
# Write code here
#write your code
ctc = int(input('Enter your anual CTC: '))

if ctc < 5000000:
  salary=ctc*.82  #18 percent from all
elif ctc < 10000000:
  salary=ctc*.72
elif ctc < 20000000:
  salary=ctc*.62
else:
  salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/ 12, 2))

Enter your anual CTC: 1200000
You in hand monthly salary will be- 82000.0

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

In [ ]:
# Write code here

angle1 = float(input("Enter the first angle: "))
angle2 = float(input("Enter the second angle: "))
angle3 = float(input("Enter the third angle: "))

if angle1 + angle2 + angle3 == 180 and angle1 > 0 and angle2 > 0 and angle3 > 0:
  print("These angles can form a triangle.")
else:
  print("These angles cannot form a triangle.")

Enter the first angle: -2
Enter the second angle: 60
Enter the third angle: 122
These angles cannot form a triangle.

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
cost_price = float(input("Enter the cost price: "))
selling_price = float(input("Enter the selling price: "))

if selling_price > cost_price:
  print("It is a profit of", round(selling_price - cost_price, 2))
else:
  print("It is a loss of", round(cost_price - selling_price, 2))

Enter the cost price: 500
Enter the selling price: 400
It is a loss of 100.0

### `Problem 4`: Write a menu-driven program -
1. cm to ft
2. km to miles
3. USD to INR
4. exit

In [ ]:
# Write code here
menu =input("""
Hii select an option
1. cm to ft
2. km to miles
3. USD to INR
4. exit
""")

if menu == '1':
  cm = float(input("Enter the value in cm: "))
  print("The value in ft is", round(0.032*cm, 2))
elif menu == '2':
  km = float(input("Enter the value in km: "))
  print("The value in miles is", round(km*0.62, 2))
elif menu == '3':
  usd = float(input("Enter the value in USD: "))
  print("The value in INR is", round(usd * 80, 2))
elif menu == '4':
  print("Thank you for using our service")

Hii select an option
1. cm to ft
2. km to miles
3. USD to INR
4. exit
1
Enter the value in cm: 100
The value in ft is 3.2

In [ ]:
# problem 4 using switch case
def converter():
  while True:
    menu =input("""
    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    """)

    match menu:
      case '1':
        cm = float(input("Enter the value in cm: "))
        print("The value in ft is", round(0.032*cm, 2))
      case '2':
        km = float(input("Enter the value in km: "))
        print("The value in miles is", round(km*0.62, 2))
      case '3':
        usd = float(input("Enter the value in USD: "))
        print("The value in INR is", round(usd * 80, 2))
      case '4':
        print("Thank you for using our service")
        break
      case _:
        print("Invalid input")

converter()

    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    2
Enter the value in km: 15
The value in miles is 9.3

    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    1
Enter the value in cm: 52
The value in ft is 1.66

    Hii select an option
    1. cm to ft
    2. km to miles
    3. USD to INR
    4. exit
    4
Thank you for using our service

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [ ]:
# Write code here
a, b = 0, 1
for i in range(10):
  print(a, end=" ")
  a, b = b, a+b

0 1 1 2 3 5 8 13 21 34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5 × 4 × 3 × 2 × 1 = 120
```

Output:

```bash
120
```

In [ ]:
# Write code here
num = int(input("Enter a number: "))
fact = 1
for i in range(1, num+1):
  fact *= i
print(fact)

Enter a number: 4
24

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
num = int(input("Enter a number: "))
# print(num[::-1])

rev = 0
while num > 0:
  last = num % 10
  rev = rev * 10 + last
  num //= 10

print(rev)

Enter a number: 123
321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
num = int(input("Enter a number: "))
sum = 0
i = 1
while i <= num:
  if i % 5 != 0:
    sum += i
    if sum > 300:
      sum -= i
      break
  i += 1

print(sum)

Enter a number: 29
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count = 0
while True:
  num = int(input("Enter a number: "))
  if num == 0:
    break
  sum += num
  count += 1

print("Sum:", sum)
print("Average:", sum/count)

Enter a number: 10
Enter a number: 10
Enter a number: 20
Enter a number: 40
Enter a number: 0
Sum: 80
Average: 20.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
L=[]
for i in range(2000, 3201):
  if i % 7 == 0 and i % 5 != 0:
    L.append(str(i))

print(','.join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [3]:
# aise number jisaka sare hi digit even ho
# Write code here

for i in range(1000, 3001):
  flag = True

  curr = i
  while curr > 0:
    if curr % 2 != 0:
      flag = False
      break
    curr //= 10

  if flag:
    print(i, end=" ")

2000 2002 2004 2006 2008 2020 2022 2024 2026 2028 2040 2042 2044 2046 2048 2060 2062 2064 2066 2068 2080 2082 2084 2086 2088 2200 2202 2204 2206 2208 2220 2222 2224 2226 2228 2240 2242 2244 2246 2248 2260 2262 2264 2266 2268 2280 2282 2284 2286 2288 2400 2402 2404 2406 2408 2420 2422 2424 2426 2428 2440 2442 2444 2446 2448 2460 2462 2464 2466 2468 2480 2482 2484 2486 2488 2600 2602 2604 2606 2608 2620 2622 2624 2626 2628 2640 2642 2644 2646 2648 2660 2662 2664 2666 2668 2680 2682 2684 2686 2688 2800 2802 2804 2806 2808 2820 2822 2824 2826 2828 2840 2842 2844 2846 2848 2860 2862 2864 2866 2868 2880 2882 2884 2886 2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps.
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps.

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.**

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [11]:
# Write code here
pos = [0, 0]
while True:
  move = input("Enter the move: ")
  if move == "!":
    break
  direction = move.split()[0]
  steps = int(move.split()[1])

  if direction == "UP":
    pos[0] += steps
  elif direction == "DOWN":
    pos[0] -= steps
  elif direction == "LEFT":
    pos[1] -= steps
  elif direction == "RIGHT":
    pos[1] += steps

print(int(round((pos[0]**2 + pos[1]**2)**0.5)))

Enter the move: UP 5
Enter the move: DOWN 5
Enter the move: LEFT 5
Enter the move: RIGHT 5
Enter the move: !
0

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [3]:
# Write code here
num = int(input("Enter a number: "))
if num > 1:
  for i in range(2, num):
    if num % i == 0:
      print(num, "is not a prime number")
      break
  else:
    print(num, "is a prime number")

Enter a number: 4
4 is not a prime number

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [1]:
# Write code here

# function armstrong
def armstrong(n):

    # converting to string
    number = str(n)

    # number of digits
    digits = len(number)
    output = 0

    # sum of each digit raised to the power of number of digits
    for i in number:
        output += int(i) ** digits

    # check if equal to original number
    return output == n


lower_range = int(input('Enter the Lower Range'))
upper_range = int(input('Enter the Upper Range'))

for i in range(lower_range,upper_range+1):
    if armstrong(i):
        print(i)

Enter the Lower Range0
Enter the Upper Range500
0
1
2
3
4
5
6
7
8
9
153
370
371
407

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [17]:
# Write code here
import math

def clock_angle(H, M):
    # Convert extra minutes into hours
    H = (H + M // 60) % 12
    M = M % 60
    3
    # Calculate angles
    hour_angle = 30 * H + 0.5 * M
    minute_angle = 6 * M

    # Find the absolute difference
    angle = abs(hour_angle - minute_angle)

    # Choose the smaller angle
    final_angle = min(angle, 360 - angle)

    # Floor of the angle
    return math.floor(final_angle)



H=int(input('Enter the hour '))
M=int(input('Enter the minute '))
print(clock_angle(H, M))

Enter the hour 13
Enter the minute 120
90

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [18]:
# Write code here
class Point:
    def __init__(self, x, y):
        self.x = x
        self.y = y

def do_overlap(l1, r1, l2, r2):
    # If one rectangle is to the left of the other
    if l1.x > r2.x or l2.x > r1.x:
        return False

    # If one rectangle is above the other
    if r1.y > l2.y or r2.y > l1.y:
        return False

    return True

# Driver code
if __name__ == "__main__":
    l1 = Point(0, 10)
    r1 = Point(10, 0)
    l2 = Point(5, 5)
    r2 = Point(15, 0)

    if do_overlap(l1, r1, l2, r2):
        print("Rectangles Overlap")
    else:
        print("Rectangles Don't Overlap")

Rectangles Overlap